body {
   background-color: #F2F2F2;
    color: #020F59
}

input {
    border: 1px solid #024959;
}
fieldset {
    border: none;
}
.weather-data, .weather-description{
    display: flex;
    justify-content: space-evenly;
}
.hidden {
    display: none;
}
.error-message {
    color: #8C2703;
}


/*colors{
    #F2F2F2
  
    #8C6A03
    #0339A6
    #020F59
}*/