body {
    color: #020F59;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    box-sizing: border-box;
    font-size: 17px;
    background-color: #42C8FF;
}

.header {
    background-color: #307897;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF8D6;
    margin-bottom: 7vh;
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    margin: 20px 0;
    font-size: 25px;
    font-weight: bold;
}

.form-wrapper {
    width: 76%;
    margin: auto;
    /*we need padding so the margin of 
    the travel question doesn't move out of the this element*/
    padding-top: 0.1px;
    background-color: #D04356;
    height: 47vh;
    line-height: 1;
}

.travel-question {
    font-size: 24px;
    height: 4vh;
    margin: 1.5vh 0 0 0;
    font-weight: bold;
    /* this is for centering text vertically */
    line-height: 4vh;
    text-align: center;
    color: #000000;
}

form {
    width: 100%;
    height: 39vh;
}

.white {
    background-color: #F2F2F2;
    width: 80%;
    margin: 3vh auto;
}

label,
input,
.explore-button {
    border: 0;
    display: block;
    padding: .5vh;
    height: 2.5vh;
    background-color: #F2F2F2;
    width: 100%;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto 0 auto;
}

.white-country {
    background-color: #F2F2F2;
    margin-bottom: 4.5vh;
}

.white-country>input {
    margin: 0;
}

.country-input {
    background-color: #F2F2F2;
    height: 2.5vh;
}

.explore-button {
    height: 3.5vh;
    margin-bottom: .5vh;
    padding: .2vh;
    width: 102.5%;
    background-color: orange;
}

ul {
    list-style-type: none;
}

.country-list {
    height: 21vh;
    width: 102.5%;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    background-color: #F2F2F2;
    top: 6.6vh;
    margin-top: .1vh;
    padding: 5px 0 0 0;
}


.country-list>li {
    padding-left: 6px;
    height: 6vh;
    line-height: 6vh;
    border: 1px solid #55b4f6;
    font-size: 15px;
}

.moving-links {
    position: fixed;
    top: 0;
    background-color: #D04356;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: #000000;
}

.results {
    background-color: #42C8FF;
    width: 80%;
    margin: auto;
}

.links-home,
.moving-links {
    height: 10vh;
    text-align: center;
}

.moving-links,
.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-data,
.weather-description {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 24px;
    height: 67px;
    background-color: #307897;
    color: #FFF8D6;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 13%;
}

.weather-results,
.news-results {
    margin-bottom: 50px;
}

.description-day {
    width: 25%;
    max-width: 80px;
    margin-right: 60px;
}

.buttons-div {
    height: 35px;
    margin-bottom: 3.5vh;
}

.c,
.f {
    float: right;
    margin-left: 7px;
    width: 50px;
    margin-top: 5px;
    appearance: auto;
}

.day {
    width: 25%;
    max-width: 80px;
}

.weather-img {
    height: 60px;
    width: 60px;
    margin-top: 7px;
}

.temp,
.high-low {
    width: 50%;
    float: right;
    text-align: right;
}

.error-message {
    color: #8C2703;
}

.news-results-list {
    padding: 0;
}

.news-item {
    background-color: #307897;
    color: #FFF8D6;
    margin-bottom: 24px;
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4%;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a,
a:active,
a:visited {
    color: #FFF8D6;
    width: 80%;
}

.no-news-message {
    font-size: 22px;
    padding-left: 5px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .form-wrapper {
        width: 55%;
    }

    .results {
        width: 65%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .form-wrapper {
        width: 50%;
    }

    .results {
        width: 60%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .form-wrapper {
        width: 45%;
    }

    .results {
        width: 55%;
    }

    .weather-data,
    .weather-description {
        border-radius: 6%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .form-wrapper {
        width: 40%;
    }

    .results {
        width: 55%;
    }
}